{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12"{{ actors.actor_id }}responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                <tr>
                    <th>Actor id</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th></th>
                </tr>
                </thead>
                <tbody
	{% for actors in all_actors %}
                <tr class="tr-shadow">
                    <td>{{ actors.actor_id }}</td>
                    <td >
                        <a href="/imdb/actor/{{ actors.actor_id }}/">{{ actors.name }}</a>
                    </td>
                    <td>
                       {{ actors.gender }}
                    </td>
                </tr>
                <tr class="spacer"></tr>
	{% endfor %}
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>

{% endblock %}
