{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h2 class="heading-title m-b-35"> {{ directors.name }}</h2>
        <!--<div>
            <img src="/imdb/media/{{ directors.poster }}" height="300" width="300">
        </div>
        <div>
            <p class="director-note">
                {{ directors.description }}
           </p>
        </div> -->
   
        <h3 class="title-5 m-b-45">Movies</h3>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                <tr>
                    <th>Movie id</th>
                    <th>Name</th>
                    <th>Release Date</th>
                    <th>Average Rating</th>
                    <th>Collections(in Crores.)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for movies in dir %}
                <tr class="tr-shadow">
                    <td>{{ movies.movie_id }}</td>
                    <td class="desc">
                        <a href="/imdb/movie/{{ movies.movie_id }}/">{{movies.name}}</a>
                    </td>
                    <td>{{ movies.release_date }}</td>
                    <td>
                        <span class="status--high">{{ movies.average_rating }}</span>
                    </td>
                    <td>{{ movies.box_office_collection_in_crores}}</td>
                </tr>
                <tr class="spacer"></tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>

{% endblock %}
